@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  background: #efebe8;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
}

h1, h3 {
   font-family: "Lobster", sans-serif;
}

.page-header .btn {
  cursor: pointer;
}


footer {
  background: #ecbc4c;
}

footer a {
  color: rgb(247, 247, 247);
  font-size: 26px;
}

footer a:hover {
  color: #bd6b00;
}
footer #social-media-footer a.fa-instagram,
footer #social-media-footer a.fa-tiktok,
footer #social-media-footer a.fa-x-twitter {
  color: rgb(247, 247, 247);
  transition: 0.4s;
}

footer #social-media-footer ul li {
  font-size: 25px;
  padding: 10px;
  transition: 0.4s;
}
